extends layout

block content
    #main
        .container
            .left
                .account
                    h1 Mon Compte
                    div
                        .avatar
                            p Choisi ton avatar
                            img(src= avatar)
                        div
                            p= "Nom: " + login
                            p= "Inscrit le: " + registrationDate
                            if games
                                p= "Parties jouées: " + games.length
                            else
                                p=  "Parties jouées: 0"
                            p(id="accountVictories")= "Victoires: " + victories + "%"
                            a(class="logout button dark-grey" href="/users/logout") Deconnexion

                .scores
                    h2 Derniers resultats
                    ul
            .right
                .army-options
                    h1 Mon Armee
                    .army-option(army="humans")
                    .army-option(army="monsters")
                    a(id="playButton", class="button dark-grey", href="/game") Fight!
    include avatarPicker.jade

    script(src="/javascripts/home.js")
    script.
        var games =  !{JSON.stringify(games)};



